* {margin: 0;
	padding: 0 ;
	box-sizing: border-box;
}
body {
		background: #fff;
}
ul a:link{ border-right: 1px solid #fff;
	color: white;
	text-decoration:none;}
ul { border: 1px solid #fff;
position: relative;
	  font-size:20px;
	  list-style-type: none;
	  margin: 0px;
	  padding: 0;
	  overflow: hidden;
	  background-color:#30004a;}
ul li {
	float: left;}
ul li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 15px 16px;
	  text-decoration: none;}
ul li a:hover {
	background-color:grey;}
.right{
	float:right;}

.banner{
	position:relative;
	width: 1280px;
	min-height: 555px;
	padding: 0 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner .bg
{
	position:absolute;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	object-fit: cover;
}

