body{
	margin:50px;
	padding:0;
	background: #000;
}
.container{
 margin-top:20px;
	position: absolute;
	margin-left: 200px;
	width:800px;
	padding:30px;
	margin-bottom: 50px;
	background:#fff;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 50px rgba(0,0,0,.2);
	
}
a:link{
	color: white;
	text-decoration:none;}
ul { border:1px solid #fff;
	  font-size:20px;
	  list-style-type: none;
	  margin: 0px;
	  padding: 0;
	  overflow: hidden;
	  background-color:#30004a;}
li { border: 1px solid #fff;
	float: left;}
li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;}
li a:hover {
	background-color:grey;}
.right{
	float:right;}
p{
	margin:0;
	padding:0;
	text-align: justify;
	line-height: 22px;
}
h1 {
	margin: 0 0 20px;
	padding:0;
	font-size: 30px;
}
img{ padding-left: 20px;
height:400px;
width:700px;
} 
 .img2{padding-left: 20px;
height:500px;
 width:700px;}