body {
	margin-top:30px;
	margin-left: 30px;
	margin-right: 30px;
	padding:0;
	margin-bottom: 40px;
}
ul a:link{
	border: 1px solid #fff;
	color: white;
	text-decoration:none;}
ul { 
	  font-size:20px;
	  list-style-type: none;
	  margin: 0px;
	  padding: 0;
	  overflow: hidden;
	  background-color:#000;}
ul li {
	float: left;}
ul li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 15px 16px;
	  text-decoration: none;}
ul li a:hover {
	background-color:grey;}
.right{
	float:right;}

section
{
margin-top: 10px;
margin-left: 0px;
	height: 500px;
	width: 1200px;
	background: #000;
	box-shadow: 0 25px 30px rgba(0,0,0,.5);
	display: flex;
}
.content {
	width: calc(50% - 50px);
	height: 500px;
	background: #000;
	box-sizing: border-box;
	padding-top: 20px ;
	padding-left: 40px;
	font-family: sans-serif;
	color: #fff;
}
.imageBox {
	height: 100%;
	width: 50%;
	background: #f00;
	box-sizing: border-box;
	border-left: 100px solid #000;
	border-bottom: 400px solid transparent;
	background: url(planet1.jpg);
	background-size: 500px 500px;
	background-repeat: no-repeat;
	
}
h1 { 
font-size: 25px;}
h2 { 
font-size: 20px;}
p { 
font-size: 15px;}

.container {
	margin-top:30px;
	margin-left: 100px;
	position: relative;
	display: flex;
}

.container .card .face1 {
	margin-right: 20px;
	align-items:center;
	justify-content:center;
	width: 250px;
	height : 150px;}
	
.container .card .face2 {
	width: 250px;
	height:120px;
}
.container .card .face.face1
{
	position: relative;
	background: #000;
	display: flex;
}
.container .card .face.face1 .content1{
		opacity: 0.3;
		transition: 0.5s;
	}
.container .card:hover .face.face1 .content1{
	opacity: 1;
}
.container .card:hover .face.face1 .content1 img{
max-width: 500px;
}


	.container .card .face.face2 {
		position: relative;
		background: #fff;
		display: inline-block;
		box-sizing: border-box;
		box-shadow: 0px 20px 50px rgba(0,0,0,0.8);
	}
	

	
.container .card .face.face2 .content1 a 
{
	display: inline-block;
	text-decoration: none;
	font-weight: 800;
	color: #000;
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 70px;
border: 2px solid #000;
}
.container .card .face.face2 .content1 a:hover 
{
	background: #000;
	color: #fff;
}
.btn {
margin-top: 40px;
margin-left: 200px;
margin-right: 120px;
border:2px solid #30004a;
padding: 20px;
background-color: #30004a;
 text-align: center;
}
.btn a {
	text-decoration: none;
	font-size: 25px;
color: #fff;}
.btn:hover {
	background-color: #fff;}
.btn:hover a {
color: #30004a;}